@media screen and (max-width: 1200px) {
	.main-wrapper {
		width: 90%;
	}
	.posts-item-container,
	.latest-project-item-container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;
	}	
	.posts-item,
	.logo-item,
	.info-container-item {
		margin-bottom: 20px;
	}
	.logos-container,
	.info-container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;		
	}
}

@media screen and (max-width: 992px) {
	.main-header {
		/*position: static;*/	
		min-height: 1000px;				
	}
	.main-header-container {
		position: static;
		background-color: #fff;
	}
	.main-logo__img {
		background: url(../img/logo_grey.png) no-repeat center;
	}
	.main-logo__link {
		color: #787474;
	}	
	.main-header-menu {
		display: none;
	}	
	.main-header-image-item__link {
		color: #d4d3d3;
	}	
	.menuToggle {
		position: relative;
		flex-basis: 42px;
		order: 2;
	}
	.fa-bars:before {
		position: absolute;
		display: block;		
		top: 50%;
		transform: translateY(-50%);		
	}
	.main-header-tagline-section {
		position: static;
		margin-top: 50px;
		transform: translate(0, 0);      
	}
	.browser-item__image {
		display: block;		
		max-width: 100%;
	}		
	.iPhoneAnddescription-container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;		
	}
	.counter-item-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;		
	}
	.counter-item {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px) {	
	.advantages-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.copyright-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-end;
				align-items: flex-end;		
	}
	.secondary-latest-project__menu {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.secondary-menu-item {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 480px) {
	.posts-item {
		flex-basis: 315px;
	}
	.latest-project-item__img,
	.iPhone-image,
	.posts-item__image {
		height: auto;
		width: 315px
	}
	.raiting-captionandbutton-container {
		padding: 20px 0;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.rating__description {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 320px) {
	
}